node_modules

backend/public/hot

backend/public/pdfs/*
!backend/public/pdfs/example-scanned-statement.pdf

backend/public/storage
backend/storage/*.key

vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/.idea
/.vscode
